[submodule "Thunder"]
	path = Thunder
	url = git@github.com:rdkcentral/Thunder.git
[submodule "ThunderNanoServices"]
	path = ThunderNanoServices
	url = git@github.com:rdkcentral/ThunderNanoServices.git
[submodule "ThunderInterfaces"]
	path = ThunderInterfaces
	url = git@github.com:rdkcentral/ThunderInterfaces.git
[submodule "ThunderClientLibraries"]
	path = ThunderClientLibraries
	url = git@github.com:rdkcentral/ThunderClientLibraries.git
[submodule "ThunderNanoServicesRDK"]
	path = ThunderNanoServicesRDK
	url = git@github.com:WebPlatformForEmbedded/ThunderNanoServicesRDK.git
[submodule "ThunderTools"]
	path = ThunderTools
	url = git@github.com:rdkcentral/ThunderTools.git
	branch = R4_4
